<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hezho.dao.StudentDao2">
    <resultMap id="result3" type="com.hezho.bean.Student">
        <id column="studentId" property="studentId"></id>
        <result column="studentName" property="studentName"></result>
        <result column="gradId" property="gradId"></result>
        <association property="grade" javaType="com.hezho.bean.Grade">
            <id column="gradId" property="gradId"></id>
            <result column="gradName" property="gradName"></result>
        </association>

    </resultMap>


</mapper>